<div class="container">
    <div class="row">
        <div class="offset-2 col-8">
            <p class="h2 text-center">User List</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Sr.</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Email</th>
                        <th scope="col" colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList; let i = index;">
                        <th scope="row">{{i+1}}</th>
                        <td>{{user.First_Name}}</td>
                        <td>{{user.Email}}</td>
                        <td>
                            <a routerLink="/user/{{user.id}}">Show Me</a>
                        </td>
                        <td>
                            <button class="btn btn-danger" type="button" (click)="deleteUser(user.id)">Delete User</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>